@import './base.css';
:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #f2f2f2;
  --bg-primary: #141418;
  --bg-secondary: #181818;
  --transition-speed: 600ms;
  font-family: 'Roboto', sans-serif;
}

/* Styling the scrollbar */
body::-webkit-scrollbar {
  width: 0.75rem;
}

/* Styling the scrollbar track */
body::-webkit-scrollbar-track {
  background: var(--bg-primary);
  border-radius: 10px;
}

/* Styling the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: grey;
}

/* Add a hover effect to the scrollbar thumb */
body::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* Common CSS */

.title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  letter-spacing: -0.015rem;
}
