@import './base.css';

:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #f2f2f2;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

/* Styling the scrollbar */
body::-webkit-scrollbar {
  width: 0.75rem;
}

/* Styling the scrollbar track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Styling the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}

/* Add a hover effect to the scrollbar thumb */
body::-webkit-scrollbar-thumb:hover {
  background: grey;
}
